.product_details_info{
    display: flex;
    padding: 80px;
}

.detail_left img{
    width: 460px;
}

.detail_right{
    margin-left: 70px;
}

.detail_right h3{
    font-size: 30px;
    /* color: #333; */
    /* margin-bottom: 20px; */
}

.detail_right .product_price{
    font-size: 24px;
    color: red;
    margin-top: 10px;
}

.detail_right .dsc{
    font-size: 20px;
    color: #666; 
    margin-top: 15px;
}

.detail_right button{
    padding: 1rem 3.6rem;
    margin-top: 15px;
    border: none;
    background: red;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}