.product_details_info{
    display: flex;
    padding: 80px;
}

.detail_left img{
    width: 460px;
}

.detail_right{
    margin-left: 70px;
}

.detail_right h3{
    font-size: 30px;
}

.detail_right .product_price{
    font-size: 24px;
    color: red;
    margin-top: 10px;
}

.detail_right .dsc{
    font-size: 20px;
    color: #666; 
    margin-top: 15px;
}

.detail_right button{
    padding: 1rem 3.6rem;
    margin-top: 15px;
    border: none;
    background: red;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* responsivite */
/* Styles pour les écrans de tablettes */
@media screen and (max-width: 768px) {
    .product_details_info{
        flex-direction: column;
        padding: 40px;
    }

    .detail_left img{
        width: 100%;
    }

    .detail_right{
        margin-left: 0;
        margin-top: 20px; /* Ajout d'un espace entre les sections sur les petits écrans */
    }

    .detail_right h3{
        font-size: 26px;
    }

    .detail_right .product_price{
        font-size: 22px;
    }

    .detail_right .dsc{
        font-size: 18px;
    }

    .detail_right button{
        padding: 0.8rem 2.8rem;
        font-size: 16px;
    }
}

/* Styles pour les écrans de mobiles */
@media screen and (max-width: 480px) {
    .product_details_info{
        padding: 20px;
    }

    .detail_right h3{
        font-size: 22px;
    }

    .detail_right .product_price{
        font-size: 20px;
    }

    .detail_right .dsc{
        font-size: 16px;
    }

    .detail_right button{
        padding: 0.6rem 2rem;
        font-size: 14px;
    }
}
